body {
    background-color: #797978;
    height: 100%;
    width: 100%;
    text-align: center;
}

#height,
#weight {
    width: 150px;
    height: 25px;
    margin-top: 30px;
}

#weight-guide {
    margin-left: 75px;
    margin-top: 25px;
}

#results {
    font-size: 35px;
    margin-left: 90px;
    margin-top: 20px;
    color: rgb(231, 18, 18);
}

button {
    width: 150px;
    height: 35px;
    margin-left: 90px;
    margin-top: 25px;
    background-color: #fff;
    padding: 1px 30px;
    border-radius: 8px;
    color: #212121;
    text-decoration: none;
    border: 2px solid #212121;
    font-size: 25px;
}

button:hover{
    background-color: yellow;
}

h1 {
    padding-left: 15px;
    padding-top: 25px;
}

input {
    color: red;
    font-weight: 600;
}